.header {
  background: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 54px;
  z-index: 2;
}

.header .logo {
  justify-content: flex-start;
  cursor: pointer;
}

.nav {
  padding: 8px;
  margin: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 55%;
}

.clickhere {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.lupita {
  margin: 8px;
  cursor: pointer;
}

.buttonLogIn {
  /*same color header*/
  border: transparent;
  border-radius: 4px;
  color: rgb(59, 57, 57); /*grey - black */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition: all 0.3 ease;
  display: none;
  margin: 8px;
}

.buttonLogIn:hover {
  background-color: rgb(124, 170, 170);
  text-decoration: underline;
}

.buttonCreateAccount {
  background-color: white; /*same color than header*/
  border: 1px solid;
  border-radius: 4px;
  color: rgb(21, 21, 194); /*grey - black */
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition: all 0.3 ease;
  cursor: pointer;
  justify-content: flex-end;
}

.buttonCreateAccount:hover {
  background-color: rgb(21, 21, 194);
  text-decoration: underline;
  color: azure;
}

.logo {
  padding: 8px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burguer {
  margin: 8px;
  display: block;
}

.logotype {
  margin: 8px;
}

.searchInput {
  margin: 8px;
  font-size: 18px;
  display: none;
}

@media screen and (min-width: 768px) {
  .burguer {
    display: none;
  }
  .buttonLogIn {
    display: block;
  }
  .searchInput {
    display: block;
  }
}
.containerMain {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 80px;
}
.containerMain .aside {
  height: 100vh;
  width: 100%;
  display: none;
}
.containerMain .aside2 {
  height: 100vh;
  width: 100%;
  display: none;
}
.containerMain .mainContainer {
  height: 100vh;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .containerMain {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .containerMain .aside {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-items: center;
    padding-left: 40px;
    height: 100vh;
    width: 60%;
    display: block;
  }
  .containerMain .aside2 {
    height: 100vh;
    width: 50%;
    display: none;
  }
  .containerMain .mainContainer {
    height: 100vh;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .containerMain {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .containerMain .aside {
    height: 100vh;
    width: 100%;
    display: none;
    height: 100vh;
    width: 40%;
    display: block;
  }
  .containerMain .aside2 {
    height: 100vh;
    width: 100%;
    display: none;
  }
  .containerMain .mainContainer {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .containerMain {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .containerMain .aside {
    height: 100vh;
    max-width: 50%;
    display: block;
  }
  .containerMain .aside2 {
    height: 100vh;
    max-width: 50%;
    display: none;
  }
  .containerMain .mainContainer {
    height: 100vh;
    width: 60%;
  }
}
@media screen and (min-width: 1440px) {
  .containerMain {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .containerMain .aside {
    margin-left: 20px;
    height: 100vh;
    max-width: 300px;
    display: block;
  }
  .containerMain .aside2 {
    height: 100vh;
    max-width: 430px;
    display: block;
  }
  .containerMain .mainContainer {
    height: 100vh;
    max-width: 45em;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerAside1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: baseline;
  gap: 1em;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  min-height: 20em;
  min-width: 300px;
  margin: 10px 10px;
  padding: 10px;
}
.containerAside1 .textInside {
  position: relative;
  padding: 1px;
  max-width: 80%;
  max-height: 20em;
}
.containerAside1 .textInside .pBold {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
}
.containerAside1 .textInside_2 {
  padding: 1px;
  max-width: 80%;
  max-height: 20em;
  display: flex;
  flex-direction: column;
}
.containerAside1 .btnInside {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 18px;
  max-width: 100%;
  max-height: 20em;
  gap: 2em;
}
.containerAside1 .btnInside .aCAccount {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  color: rgb(59, 73, 223);
  text-decoration: none;
  border-radius: 0.375rem;
  padding: 11px 2.5em;
  border: 1px solid rgb(59, 73, 223);
}
.containerAside1 .btnInside .aCAccount:hover {
  text-align: center;
  background-color: rgb(59, 73, 223);
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  color: white;
  border-radius: 0.375rem;
  padding: 11px 2.5em;
  border: 1px solid rgb(59, 73, 223);
}
.containerAside1 .btnInside .pLogIn {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 80%;
  color: rgb(64, 64, 64);
  text-decoration: none;
  border-radius: 0.375rem;
  padding: 11px 2.5em;
  border: none;
}
.containerAside1 .btnInside .pLogIn:hover {
  text-align: center;
  background-color: rgb(47, 58, 178);
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  color: white;
  border-radius: 0.375rem;
  padding: 11px 2.5em;
  border: 1px solid rgb(59, 73, 223);
  cursor: pointer;
}

.secondNav {
  display: block;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 10px;
  padding: 0.5rem 1rem;
}
.secondNav h2 {
  padding-bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.secondNav .listNavSecond {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1em;
}
.secondNav .c-link {
  background-color: transparent;
  text-decoration: none;
  color: black;
}
.secondNav .c-link:hover {
  background-color: rgb(47, 58, 178);
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  color: white;
  border-radius: 0.375rem;
  border: 1px solid rgb(59, 73, 223);
  cursor: pointer;
}

.containerAsideSocialMedia {
  display: flex;
  justify-content: left;
  flex-direction: row;
  gap: 10px;
}

.conteinerAsideScroll {
  margin-top: 20px;
}

.conteinerScroll {
  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
  max-height: 42vh;
  max-width: 250px;
  overflow-y: auto;
  font-size: 20px;
  margin-top: 30px;
}
.conteinerScroll .bar-element {
  width: 95%;
}
.conteinerScroll .bar-element:hover {
  color: blue;
  background-color: #bbd8ee;
  text-decoration: underline;
}
.conteinerScroll .bar-element .aElement {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.containerAside_2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: baseline;
  gap: 1em;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  min-height: 20em;
  min-width: 300px;
  margin: 20px 10px;
  padding: 10px;
}
.containerAside_2 img {
  margin-left: 25px;
  width: 80%;
  height: 80%;
}
.containerAside_2 .textInside {
  position: relative;
  padding: 1px;
  max-width: 80%;
  max-height: 20em;
}
.containerAside_2 .textInside .pBold {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
}
.containerAside_2 .textInside_2 {
  padding: 1px;
  max-width: 80%;
  max-height: 20em;
  display: flex;
  flex-direction: column;
}

.containerAside_3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: baseline;
  gap: 1em;
  border-radius: 10px;
  background-color: transparent;
  min-height: 20em;
  min-width: 300px;
  margin: 10px 10px;
  padding: 10px;
}
.containerAside_3 .textInside_2 {
  padding: 1px;
  max-width: 80%;
  max-height: 20em;
  display: flex;
  flex-direction: column;
}
.containerAside_3 .textInside_2 a {
  text-decoration: none;
  color: blue;
}

.aside2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container-right {
  border: 3px solid rgb(228, 225, 228);
  background-color: white;
  margin: 0px 80px 20px 20px;
  border-radius: 10px;
}

.discuss {
  padding: 10px 25px 10px 25px;
}
.discuss .themes {
  border-bottom: 1px solid rgb(205, 202, 202);
  margin: 15px 0px 15px 0px;
}
.discuss .themes a {
  text-decoration: none;
  color: black;
}
.discuss .themes a:hover {
  color: blue;
}
.discuss .themes a:hover p {
  color: black;
}
.discuss .themes h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.discuss .themes p {
  margin-top: 2px;
  margin-bottom: 2px;
}
.discuss .sinBorde {
  border: none;
}

.container-guides {
  margin: 0px 80px 20px 20px;
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
}
.container-guides .container-trending {
  margin: 15px 0px 15px 0px;
}
.container-guides .container-trending h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.container-guides .guides {
  padding-left: 25px;
}
.container-guides .guides p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  color: black;
}
.container-guides .guides a {
  text-decoration: none;
}
.container-guides .guides div:hover {
  background-color: white;
  color: blue;
}
.container-guides .guides p:hover {
  color: blue;
}
.container-guides hr {
  margin: 25px 0px -25px 0px;
}

#title-section-trending {
  font-family: "Courier New", Courier, monospace;
}

.crayons-tag {
  --tag-bg: rgba(113, 234, 139, 0.10);
  --tag-prefix: #71EA8B;
  --tag-bg-hover: rgba(113, 234, 139, 0.10);
  --tag-prefix-hover: #71EA8B;
}

.crayons-tag__prefix {
  --tag-bg: rgba(246, 41, 140, 0.10);
  --tag-prefix: #F6298C;
  --tag-bg-hover: rgba(246, 41, 140, 0.10);
  --tag-prefix-hover: #F6298C;
}

.crayons-tag__prefix1 {
  --tag-bg: rgba(208, 236, 255, 0.10);
  --tag-prefix: #D0ECFF;
  --tag-bg-hover: rgba(208, 236, 255, 0.10);
  --tag-prefix-hover: #D0ECFF;
}

.mainContainerPostOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  border: rgb(228, 225, 228) 2px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  position: relative;
  width: 90%;
}

.navMainContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3em;
  border-radius: 10px;
  padding: 10px;
}
.navMainContent li {
  list-style: none;
  padding: 4px;
}

.imagePostOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.postOneTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*margin-bottom: 20px;*/
}

.authorPostOne {
  display: flex;
  align-items: center;
  line-height: 5px;
  font-size: 20px;
}
.authorPostOne .avatarImagePostOne {
  display: inline-block;
  border-radius: 100%;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  vertical-align: middle;
}
.authorPostOne .authorNamePostOne {
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  font-weight: 30px;
  text-decoration: none;
}

.postOneBottom {
  padding-left: 50px;
}
.postOneBottom .mainContentTitle {
  padding: 15px;
  text-align: justify;
}
.postOneBottom .tagsPostOne {
  margin-bottom: 25px;
  margin-left: 10px;
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: rgb(59, 57, 57);
  text-decoration: none;
}
.postOneBottom .tagsPostOne .news:hover,
.postOneBottom .tagsPostOne .beginners:hover,
.postOneBottom .tagsPostOne .tutorial:hover,
.postOneBottom .tagsPostOne .devops:hover {
  background-color: rgb(238, 232, 232);
  border-radius: 4px;
  padding: 7px;
}

.engagementsPostOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
  line-height: 10px;
}
.engagementsPostOne .emojisAndComments {
  display: flex;
  margin-left: 10px;
}
.engagementsPostOne .emojisAndComments .emojis {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.engagementsPostOne .emojisAndComments .emojis .reactionLike,
.engagementsPostOne .emojisAndComments .emojis .reactionUnicorn,
.engagementsPostOne .emojisAndComments .emojis .reactionExplodingHead,
.engagementsPostOne .emojisAndComments .emojis .reactionRaisedHands,
.engagementsPostOne .emojisAndComments .emojis .reactionFire {
  padding: 3px;
  background-color: rgb(238, 232, 232);
  border-radius: 50%;
}
.engagementsPostOne .emojisAndComments .reactionCounter {
  margin-left: 1em;
  display: inline;
}
.engagementsPostOne .emojisAndComments .commentsPostOne {
  padding-left: 50px;
}
.engagementsPostOne .emojisAndComments .commentsPostOne .crayons-icon {
  margin-right: 10px;
}
.engagementsPostOne .emojisAndComments .commentsPostOne .commentsPostOneBottom {
  display: inline;
}
.engagementsPostOne .savePostOneBottom {
  display: flex;
  align-items: center;
}
.engagementsPostOne .savePostOneBottom p {
  margin-right: 20px;
}
.engagementsPostOne .savePostOneBottom button {
  padding: 5px;
  background-color: white;
  border: none;
}

body {
  background-color: rgb(245, 245, 245);
}/*# sourceMappingURL=main.css.map */