.containerMain {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.containerMain .aside {
  height: 100vh;
  width: 100%;
  display: none;
}
.containerMain .aside2 {
  height: 100vh;
  width: 100%;
  display: none;
}
.containerMain .mainContainer {
  height: 100vh;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .containerMain {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .containerMain .aside {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-items: center;
    padding-left: 40px;
    height: 100vh;
    width: 60%;
    display: block;
  }
  .containerMain .aside2 {
    height: 100vh;
    width: 50%;
    display: none;
  }
  .containerMain .mainContainer {
    height: 100vh;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .containerMain {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .containerMain .aside {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-items: center;
    padding-left: 40px;
    height: 100vh;
    width: 40%;
    display: block;
  }
  .containerMain .aside2 {
    height: 100vh;
    width: 50%;
    display: block;
  }
  .containerMain .mainContainer {
    height: 100vh;
    width: 100%;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aside {
  display: flex;
  flex-direction: column;
}

.containerAside1 {
  display: flex;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height: 20em;
  max-width: 260px;
  margin: 10px 10px;
  padding: 20px;
}
.containerAside1 .blockAside1 .textInside {
  padding: 1px;
  max-width: 100%;
  max-height: 79%;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  margin-bottom: 10px;
}
.containerAside1 .blockAside1 .textInside .pBold {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
}
.containerAside1 .blockAside1 .textInside p {
  text-align: start;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.containerAside1 .blockAside1 .aInside {
  display: flex;
  overflow-wrap: normal;
  justify-content: center;
}
.containerAside1 .blockAside1 .aInside .aCAccount {
  box-sizing: border-box;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  color: rgb(59, 73, 223);
  text-decoration: none;
  border-radius: 0.375rem;
  padding: 11px 2.5em;
  border: 1px solid rgb(59, 73, 223);
}
.containerAside1 .blockAside1 .aInside .aCAccount:hover {
  text-align: center;
  background-color: rgb(59, 73, 223);
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  color: white;
  border-radius: 0.375rem;
  padding: 11px 2.5em;
  border: 1px solid rgb(59, 73, 223);
}
.containerAside1 .blockAside1 .aLogIn {
  display: flex;
  overflow-wrap: normal;
  justify-content: center;
}
.containerAside1 .blockAside1 .aLogIn .pLogIn {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 80%;
  color: rgb(64, 64, 64);
  text-decoration: none;
  border-radius: 0.375rem;
  padding: 11px 2.5em;
  border: none;
}
.containerAside1 .blockAside1 .aLogIn .pLogIn:hover {
  text-align: center;
  background-color: rgb(47, 58, 178);
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  color: white;
  border-radius: 0.375rem;
  padding: 11px 2.5em;
  border: 1px solid rgb(59, 73, 223);
  cursor: pointer;
}
.containerAside1 .blockAside1 #pLogIn {
  margin: 1px 0px;
  text-align: center;
}

.secondNav {
  display: block;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 10px;
  padding: 0.5rem 1rem;
}
.secondNav h2 {
  padding-bottom: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.secondNav .listNavSecond {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1em;
}
.secondNav .c-link {
  background-color: transparent;
  text-decoration: none;
  color: black;
}
.secondNav .c-link:hover {
  background-color: rgb(47, 58, 178);
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  color: white;
  border-radius: 0.375rem;
  border: 1px solid rgb(59, 73, 223);
  cursor: pointer;
}

.aside2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container-right {
  border: 3px solid rgb(228, 225, 228);
  background-color: white;
  margin: 0px 80px 20px 20px;
  border-radius: 10px;
}

.discuss {
  padding: 10px 25px 10px 25px;
}
.discuss .themes {
  border-bottom: 1px solid rgb(205, 202, 202);
  margin: 15px 0px 15px 0px;
}
.discuss .themes a {
  text-decoration: none;
  color: black;
}
.discuss .themes a:hover {
  color: blue;
}
.discuss .themes a:hover p {
  color: black;
}
.discuss .themes h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.discuss .themes p {
  margin-top: 2px;
  margin-bottom: 2px;
}
.discuss .sinBorde {
  border: none;
}

.container-guides {
  margin: 0px 80px 20px 20px;
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
}
.container-guides .container-trending {
  margin: 15px 0px 15px 0px;
}
.container-guides .container-trending h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.container-guides .guides {
  padding-left: 25px;
}
.container-guides .guides p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  color: black;
}
.container-guides .guides a {
  text-decoration: none;
}
.container-guides .guides div:hover {
  background-color: white;
  color: blue;
}
.container-guides .guides p:hover {
  color: blue;
}
.container-guides hr {
  margin: 25px 0px -25px 0px;
}

#title-section-trending {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgb(245, 245, 245);
}/*# sourceMappingURL=main.css.map */