.containerAside1 {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    gap: 1em;
    border-radius: 10px;
    background-color:rgb( 255, 255, 255 );
    box-shadow: 0 0 1px rgba(40, 44, 45, 0.05);
    min-height: 15em;
    width: 95%;
    padding: 10px;





    .textInside {
        position: relative;
        padding: 1px;
        width: 100%;
        max-height: 20em;

        .pBold {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1.25rem;

        }


    }

    .textInside_2 {
        padding: 1px;
        width: 100%;
        max-height: 20em;
        display: flex;
        flex-direction: column;




    }

    .btnInside {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-height: 20em;

        .aInside {

            display: flex;
            width: 100%;
        }

        .aCAccount {
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 17px;
            color: rgb(59, 73, 223);
            text-decoration: none;
            border-radius: 0.375rem;
            padding: 11px 2.5em;
            border: 1px solid rgb(59, 73, 223);
            width: 100%;


            &:hover {

                text-align: center;
                background-color: rgb(59, 73, 223);
                text-decoration: underline white;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 17px;
                color: white;
                border-radius: 0.375rem;
                padding: 11px 2.5em;
                border: 1px solid rgb(59, 73, 223);
                width: 100%;



            }
        }


      
        .aLogIn {
            display: flex;
            justify-content: center;
            width: 100%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(64, 64, 64);
            text-decoration: none;
            border-radius: 0.375rem;
            padding: 11px 2.5em;
            border: none;

            &:hover {
                display: flex;
                justify-content: center;
                width: 100%;
                background-color: rgba( 59, 73, 223 , 0.1);
                text-decoration: underline blue;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                color: blue;
                border-radius: 0.375rem;
                cursor: pointer;
    
    
            }
        }


       



    }



}


.secondNav {


    display: block;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 10px;
    padding: 0.5rem 1rem;

    h2 {
        padding-bottom: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .listNavSecond {
        // border: 1px solid black;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 1em;
    }



    .c-link {
        background-color: transparent;
        text-decoration: none;
        color: black;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 5px;
        gap: 10px;


        &:hover {
            background-color: rgba( 59, 73, 223 , 0.1);
            text-decoration: underline blue;
            color: blue;
            border-radius: 0.375rem;
            cursor: pointer;
        }
    }
}

.containerAsideSocialMedia {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 10px;
}

.conteinerAsideScroll {

    margin-top: 20px;
}

.conteinerScroll {

    display: flex;
    justify-content: right;
    flex-direction: column;
    // gap: 20px;
    padding-left: 30px;
    // border: 1px solid black;
    max-height: 42vh;
    max-width: 250px;
    overflow-y: auto;
    font-size: 20px;
    margin-top: 30px;



    .bar-element {
        // border: 1px solid black;
        width: 100%;


        
        .aElement {
            display: flex;
            align-items: center;
            align-content: flex-start;
            text-decoration: none;
            width: 100%;
            height: 2.6em;
            border-radius: 0.375rem;
            font-size: 15px;
            color: black;

            
            &:hover {
                color: blue;
                border-radius: 0.375rem;
                background-color: rgba( 59, 73, 223 , 0.1);
                text-decoration: underline;
            }


        }
    }


}




.containerAside_2 {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    gap: 1em;
    border-radius: 10px;
    background-color:rgb( 255, 255, 255 );
    box-shadow: 0 0 1px rgba(40, 44, 45, 0.05);
    min-height: 15em;
    width: 95%;
    padding: 10px;
    margin-top: 20px;



    img {
        margin-left: 25px;
        width: 80%;
        height: 80%;

    }


    .textInside {
        position: relative;
        padding: 1px;
        max-width: 80%;
        max-height: 20em;
        // display: flex;
        // justify-content: right;
        // flex-direction: row;

        .pBold {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 22px;

        }


    }

    .textInside_2 {
        padding: 1px;
        max-width: 80%;
        max-height: 20em;
        display: flex;
        flex-direction: column;




    }





}

.containerAside_3 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: baseline;
    gap: 1em;
    border-radius: 10px;
    background-color: transparent;
    min-height: 20em;
    min-width: 300px;
    margin: 10px 10px;
    padding: 10px;


    .textInside_2 {
        padding: 1px;
        max-width: 80%;
        max-height: 20em;
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
            color: blue;
        }



    }





}