html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// &color_size_P () {
//     color: black;
//     font-size: 30px;
// }
@mixin flexCenter(){
    display: inline-flex;
    justify-content: center;

}

