.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 20px;
}

.navMainContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}



