.mainContainerPostOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Roboto", sans-serif;
    background-color: white;
    border: rgb(228, 225, 228) 2px solid;
    border-radius: 10px;
    padding-bottom: 20px;
    // margin: 20px;
    // position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.navMainContent {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    border-radius: 10px;
    padding: 10px;

    li {
        list-style:none;
        padding: 10px;
        background-color: transparent; 
    }

    li:hover {
        
        background-color: rgb(255, 255, 255) ;
        border-radius: 15%;
        color:rgb(57, 57, 228);
        cursor: pointer;
    }

}


.imagePostOne {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        // padding: 20px;

        .bigImage {
            // border-radius: 10px;
            padding: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        
    }

    


.postOneTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 9px;
    margin-bottom: 8px;
    margin-left: 20px;
    /*margin-bottom: 20px;*/
}

.authorPostOne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    gap: 10px;

    .image {
        .authorPostOne_href{
            imh {

                height: 32px;
                width: 32px;
            }
        }
    }

   

    .avatarImagePostOne {
        display: inline-block;
        border-radius: 100%;
        position: relative;
        width: 40px;
        height: 40px;
        overflow: hidden;
        vertical-align: middle;
        
    }

    .authorNamePostOne {
        display: inline-block;
        margin-bottom: 0;
        position: relative;
        font-weight: bold;
        font-size: 17px;
        text-decoration: none;
        color:#000;


    }

}

.postOneBottom {
        padding-left: 40px;
        // border: 1px solid black;

        .mainContentTitle {
            // padding-left: 40px;
            h2 {
                font-size: 1.25rem;
                a{

                    // padding: 15px;
                    text-align:justify;
                    text-decoration: none;
                    color: black;

                    &:hover {
                        color: rgb(57, 57, 228);
                        cursor: pointer;
                    }
                }
            }

           
        }

       

        .tagsPostOne {
            margin-bottom: 17px;
            margin-left: 10px;
            font-size: small ;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            color: rgb(59, 57, 57);
            text-decoration: none;
            .news {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10px;
                height: 30px;
                min-width: 70px;
                text-decoration: none;
                color: black;
                &:hover {
                    background-color:rgba(86, 39, 101, 0.10);
                    border-radius: 4px;
                    border: 1px solid #2d2a2a;;

                }
            }
            
        }
}

.engagementsPostOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    // line-height: 10px;

    .emojisAndComments {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-left: 10px;
        // border: 1px solid black;

        .emojis {
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin-left: 0.5rem;
            // border: 1px solid black;
            height: 40px;
            width: 167px;
            .insideEmoji {
                margin: -6px;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                border: 2px solid rgb( 255, 255, 255 );
                background-color: rgb( 245, 245, 245 );           
            }
            .reactionCounter {
                margin-left: 0.5rem;
                .reactionCounter_2{
                    display: none;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.035) ;
                border-radius: 0.375rem;

            }

            

            
        }

      
        .commentsPostOneDiv{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin-left: 0.5rem;
            // border: 1px solid black;
            height: 40px;
            width: 40px;

            .commentsPostOne {
                // padding-left: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: .9em;
    
                .crayons-icon {
                    margin-right: 5px;
                    
                }
    
                .commentsPostOneBottom {
                    display: inline;
                    font-size: .9em;
                    display: none;
                }
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.035) ;
                border-radius: 0.375rem;

            }
            
        }
    }

    .savePostOneBottom {
        display: flex;
        align-items: center;

        p {
            margin-right: 15px;
            font-size: .9em;
        }

        button {
            padding: 2px;
            background-color: white;
            border: none;
        }
    }
}

.nameDate {

    p {
        font-size: 10px;
    }

    
}
