
.crayons-tag{
    --tag-bg: rgba(113, 234, 139, 0.10);
    --tag-prefix: #71EA8B;
    --tag-bg-hover: rgba(113, 234, 139, 0.10);
    --tag-prefix-hover: #71EA8B;
}

.crayons-tag__prefix{
    --tag-bg: rgba(246, 41, 140, 0.10);
    --tag-prefix: #F6298C;
    --tag-bg-hover: rgba(246, 41, 140, 0.10);
    --tag-prefix-hover: #F6298C;
}

.crayons-tag__prefix1{
    --tag-bg: rgba(208, 236, 255, 0.10);
    --tag-prefix: #D0ECFF;
    --tag-bg-hover: rgba(208, 236, 255, 0.10);
    --tag-prefix-hover: #D0ECFF;
}
