@import 'nav';
@import 'layout';
@import 'global';
@import 'aside1';
@import 'aside2';
@import 'maincontainer';

body {
    background-color:rgb( 245, 245, 245 );
    font-family: "Roboto", sans-serif;
}